.navBar{
    width: 250px;
    height: 300px;
    border-radius: 8px;
    border-color: rgb(25, 102, 102);
    background-color: rgb(32, 227, 227);
    position: absolute;
    top: 100px;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .navBarNavigation{
        margin-top: 10px;
        color: white;
        margin-bottom: 10px;
    }

    .closeBtn{
        width: 40px;
        height: 40px;
        margin-top: 20px;
    }
}